.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cartItemDetails {
  flex-grow: 1;
}

.cartItemDetails p {
  margin: 0;
}

.cartItemRemoveButton {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cartItemRemoveButton:hover {
  background-color: #c82333;
}
