.ProductListContainer {
  width: 100%;
  margin: 0 auto;
}

/* Styles for the AppBar */
.appBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ccc;
  padding: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1.9);
}

.toolbar {
  display: flex;
  align-items: center;
}

.logo {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-right: 24px;
}

.cartBadge {
  position: relative;
  margin-right: 24px;
  cursor: pointer;
}

.pageTitle {
  font-size: 34px;
  font-weight: bold;
  color: #333;
  margin-left: 16px;
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  background-color: #ff4d4f;
  color: #fff;
  border-radius: 50%;
}

.logoutButton {
  background-color: #f0f0f0;
  cursor: pointer;
  height: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

/* Styles for the container */
.container {
  margin-top: 24px;
  background-color: #fff;
  border-radius: 8px;
  background-image: url("../../Assets/image/bgimage.jpg");
}

.searchBox {
  width: 98.5%;
  padding: 12px;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1.9);
}

.productListStyle {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  padding: 24px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1.1);
  overflow: hidden;
}

.productImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardContent {
  padding: 16px;
}

.productTitle {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.productRating {
  display: flex;
  align-items: center;
  color: #ff9f1a;
  margin: 12px 0;
  font-size: 20px;
}

.productRatingStyle span {
  margin-right: 4px;
}

.productPrice {
  margin: 12px 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.addButton {
  border: none;
  background-color: crimson;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.addButton:hover {
  background-color: #333;
}
.card:hover {
  background-color: #ccc;
}
.footer {
  text-align: center;
  background-color: #ccc;
  padding: 24px;
  margin-top: 24px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1.9);
}

.footerLinks {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.footerLink {
  margin: 0 12px;
  color: #333;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.footerLink:hover {
  text-decoration: underline;
}

.footerText {
  color: #333;
  font-size: 14px;
}
.FooterTextContainer {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
